@tailwind base;
@tailwind components;
@tailwind utilities;

.not-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.special-text {
  color: #efefef;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(90deg, #a8a0fe, #a090fe 34%, #f4a9fc 70%, #fbbaef);
  -webkit-background-clip: text;
  background-clip: text;
  margin-bottom: 0;
}

.special-button {
  cursor: pointer;
  outline: none;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #4568dc, #b06ab3, red);
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.5s;
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
  min-height: 3rem;
  min-width: 8rem;
}

.special-button .text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
}

.special-button:after {
  content: "";
  border-radius: 18px;
  position: absolute;
  margin: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #0e0e10;
}

.special-button:hover {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

.special-button:hover .text {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
}

.box {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  border: 1px solid #272b30;
  background-color: #111315;
  border-radius: 8px;
  flex-direction: column;
  min-width: 230px;
  padding: 12px 24px 12px 16px;
  display: flex;
  box-shadow: 0 0 30px #7866cc1f;
}
